{% extends "base.html" %}

{% block content %}
    <h3>Профиль пользователя: <br>{{ user_object.username }}</h3>


    {% if user_object.profile.avatar %}
        <img src="{{ user_object.profile.avatar.url }}" alt="user avatar">
    {% endif %}

    <h5>Альбомы:</h5><br>
    <div class="row">
        {% for a in user_object.albums.all %}
            {% if not a.is_private or request.user == a.author %}
                <div class="col-md-3">
                    <a href="{% url 'webapp:album_detail' a.pk %}">Название: {{ a.title }}</a>
                    <br>
                    <p>Описание: {{ a.description }}</p>
                </div>
            {% endif %}
        {% endfor %}
        <h5>Избранные альбомы:</h5><br>
        {% for fa in user_object.fav_albums.all %}
            {% if not fa.album.is_private or request.user == fa.album.author %}
                <div class="col-md-3">
                    <a href="{% url 'webapp:album_detail' fa.album.pk %}">Название: {{ fa.album.title }}</a>
                    <br>
                    <p>Описание: {{ fa.album.description }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <h5>Фото:</h5><br>
    <div class="row">
        {% for p in user_object.photos.all %}
            {% if not p.is_private or request.user == p.author %}
                <div class="col-md-3">
                    <img src="{{ p.image.url }}" style=" width: 10rem; height:
                10rem; background-repeat: no-repeat;" alt="">
                    <br>
                    <a href="{% url 'webapp:photo_detail' p.id %}">{{ p.description }}</a>
                </div>
            {% endif %}
        {% endfor %}
        <h5>Избранные фото:</h5><br>
        {% for fp in user_object.fav_photos.all %}
            {% if not fp.photo.is_private or request.user == fp.photo.author %}
                <div class="col-md-3">
                    <img src="{{ fp.photo.image.url }}" style=" width: 10rem; height:
                10rem; background-repeat: no-repeat;" alt="">
                    <br>
                    <a href="{% url 'webapp:photo_detail' fp.photo.id %}">{{ fp.photo.description }}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}