{% extends 'base.html' %}
{% block title %}Детальный просмотр фото{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <img src="{{ photo.image.url }}" style=" width: 10rem; height:
                10rem; background-repeat: no-repeat;" alt="">
        <br>
        <p>Описание: {{ photo.description }}</p>
        <p>Автор: {{ photo.user }}</p>
        {% if photo.album %}
            <a href="{% url 'webapp:album_detail' photo.album.pk %}"><p>Альбом:{{ photo.album }}</p></a>
        {% endif %}
        <p>Дата создания: {{ photo.created_at }}</p>
        {% if request.user == photo.user and photo.tokens.first %}
{#            <p>Поделиться: {{ request.get_host }}{% url 'webapp:photo_token_detail' photo.tokens.first.token %}</p>#}
        {% endif %}
    </div>
{#    {% if request.user == photo.user %}#}
{#        <a href="{% url 'webapp:photo_token_generate' photo.id %}" class="btn btn-info">Сгенерировать ссылку</a>#}
        {% if perms.webapp.change_photo %}
            <a href="{% url 'webapp:photo_update' photo.id %}" class="btn btn-success">Редактировать</a>
        {% endif %}
        {% if perms.webapp.delete_photo %}
            <a href="{% url 'webapp:photo_delete' photo.id %}" class="btn btn-success">Удалить</a>
        {% endif %}
{#    {% endif %}#}
{% endblock %}