{% extends 'base.html' %}
{% block title %}Детальный просмотр фото{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <img src="{{ photo.image.url }}" style=" width: 10rem; height:
                10rem; background-repeat: no-repeat;" alt="">
        <br>
        <p>Описание: {{ photo.description }}</p>
        <p>Автор: {{ photo.author }}</p>
        {% if photo.album %}
            <a href="{% url 'webapp:album_detail' photo.album.pk %}"><p>Альбом:{{ photo.album }}</p></a>
        {% endif %}
        <p>Дата создания: {{ photo.created_at }}</p>
        {% if request.user == photo.author and photo.tokens.first %}
            <p>Поделиться: {{ request.get_host }}{% url 'webapp:token_photo' photo.tokens.first.id %}</p>
        {% endif %}
    </div>
    {% if request.user.is_authenticated %}
        <button id="un-fav-btn-{{ photo.id }}" class="btn btn-danger"
                {% if photo.id not in fav_photos %}hidden{% endif %}
                onclick="unFavouritePhoto({{ photo.id }})">Удалить из избранного
        </button>
        <button id="fav-btn-{{ photo.id }}" class="btn btn-success"
                {% if photo.id in fav_photos %}hidden{% endif %}
                onclick="favouritePhoto({{ photo.id }})">
            Добавить в избранного
        </button>
    {% endif %}
    {% if request.user == photo.author %}
        <a href="{% url 'webapp:create_token' photo.id %}" class="btn btn-info">Сгенерировать ссылку</a>
    {% endif %}
    {% if request.user == photo.author or perms.webapp.change_photo %}
        <a href="{% url 'webapp:photo_update' photo.id %}" class="btn btn-success">Редактировать</a>
    {% endif %}
    {% if request.user == photo.author or perms.webapp.delete_photo %}
        <a href="{% url 'webapp:photo_delete' photo.id %}" class="btn btn-success">Удалить</a>
    {% endif %}
    <br>
    <div>
        <h3>В Избранном у пользователей:</h3>
        {% for fav_user in photo.fav_users.all %}
            <p><a href="{% url 'accounts:user_profile' fav_user.user.id %}">{{ fav_user.user.username }}</a></p>
        {% endfor %}
        <br>
        <br>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function unFavouritePhoto(id) {
            fetch('/api/photo/unfavorite/' + id)
                .then(function (response) {
                    return response.json();
                })
                .then(function (response) {
                    if (response.success) {
                        document.getElementById("fav-btn-" + id).hidden = false;
                        document.getElementById("un-fav-btn-" + id).hidden = true;
                    } else {
                        console.log(response);
                    }
                });
        }

        function favouritePhoto(id) {
            fetch('/api/photo/favorite/' + id)
                .then(function (response) {
                    return response.json();
                })
                .then(function (response) {
                    if (response.success) {
                        document.getElementById("un-fav-btn-" + id).hidden = false;
                        document.getElementById("fav-btn-" + id).hidden = true;
                    } else {
                        console.log(response);
                    }
                });
        }
    </script>
{% endblock %}