{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div>
        <br>
        <p class="font-weight-bold">Название: {{ album.title }}</p>
        <p class="font-italic">Описание: {{ album.description }}</p>
    </div>
    <br>
    {% if request.user == album.user or perms.webapp.change_album %}
        <a href="{% url 'webapp:album_update' album.id %}" class="btn btn-primary">Редактировать</a>
    {% endif %}
    {% if request.user == album.user or perms.webapp.delete_album %}
        <a href="{% url 'webapp:album_delete' album.id %}" class="btn btn-danger">Удалить</a>
    {% endif %}

    <br>
    <br>
    <h3>Фото</h3>
    <div class="row">
        {% for p in album.photo_set.all %}
            {% if not p.is_private or p.author == request.user %}
                <div class="col-md-3">
                    <img src="{{ p.image.url }}" style=" width: 10rem; height:
                10rem; background-repeat: no-repeat;" alt="">
                    <br>
                    <a href="{% url 'webapp:photo_detail' p.id %}" style="text-decoration: none; "
                       class="text-warning">{{ p.description }}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}