{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div>
        <br>
        <p class="font-weight-bold">Название: {{ album.title }}</p>
        <p class="font-italic">Описание: {{ album.description }}</p>

        {% if request.user.is_authenticated %}
            <button id="un-fav-btn-{{ album.id }}" class="btn btn-danger"
                    {% if album.id not in fav_albums %}hidden{% endif %}
                    onclick="unFavouriteAlbum({{ album.id }})">Удалить из избранного
            </button>
            <button id="fav-btn-{{ album.id }}" class="btn btn-success"
                    {% if album.id in fav_albums %}hidden{% endif %}
                    onclick="favouriteAlbum({{ album.id }})">
                Добавить в избранного
            </button>
        {% endif %}
    </div>
    <br>
    {% if request.user == album.author or perms.webapp.change_album %}
        <a href="{% url 'webapp:album_update' album.id %}" class="btn btn-primary">Редактировать</a>
    {% endif %}
    {% if request.user == album.author or perms.webapp.delete_album %}
        <a href="{% url 'webapp:album_delete' album.id %}" class="btn btn-danger">Удалить</a>
    {% endif %}

    <br>
    <br>
    <h3>Фото</h3>
    <div class="row">
        {% for p in album.photo_set.all %}
            {% if not p.is_private or p.author == request.user %}
                <div class="col-md-3">
                    <img src="{{ p.image.url }}" style=" width: 10rem; height:
                10rem; background-repeat: no-repeat;" alt="">
                    <br>
                    <a href="{% url 'webapp:photo_detail' p.id %}" style="text-decoration: none; "
                       class="text-warning">{{ p.description }}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <div>
        <h3>В Избранном у пользователей:</h3>
        {% for fav_user in album.fav_users.all %}
            <p><a href="{% url 'accounts:user_profile' fav_user.user.id %}">{{ fav_user.user.username }}</a></p>
        {% endfor %}
        <br>
        <br>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function unFavouriteAlbum(id) {
            fetch('/api/album/unfavorite/' + id)
                .then(function (response) {
                    return response.json();
                })
                .then(function (response) {
                    if (response.success) {
                        document.getElementById("fav-btn-" + id).hidden = false;
                        document.getElementById("un-fav-btn-" + id).hidden = true;
                    } else {
                        console.log(response);
                    }
                });
        }

        function favouriteAlbum(id) {
            fetch('/api/album/favorite/' + id)
                .then(function (response) {
                    return response.json();
                })
                .then(function (response) {
                    if (response.success) {
                        document.getElementById("un-fav-btn-" + id).hidden = false;
                        document.getElementById("fav-btn-" + id).hidden = true;
                    } else {
                        console.log(response);
                    }
                });
        }
    </script>
{% endblock %}