{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <br>
    <div class="row">
        {% for a in albums %}
            <div class="card m-2 bg-light" style="width: 16rem;">
                <a href="{% url 'webapp:album_detail' a.pk %}" style="text-decoration: none">
                    <div class="card-body">
                        <h5 class="card-title">Альбом {{ a.id }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Название:{{ a.title }}</h6>
                        <p class="card-text">Описание: {{ a.description }} </p>
                        <p class="card-text">Автор:{{ a.author }} </p>
                    </div>
                </a>
            </div>
            {% if request.user.is_authenticated %}
                <button id="un-fav-btn-{{ a.id }}" class="btn btn-danger"
                        {% if a.id not in fav_albums %}hidden{% endif %}
                        onclick="unFavouriteAlbum({{ a.id }})">Удалить из избранного
                </button>
                <button id="fav-btn-{{ a.id }}" class="btn btn-success"
                        {% if a.id in fav_albums %}hidden{% endif %}
                        onclick="favouriteAlbum({{ a.id }})">
                    Добавить в избранного
                </button>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function unFavouriteAlbum(id) {
            fetch('/api/album/unfavorite/' + id)
                .then(function (response) {
                    return response.json();
                })
                .then(function (response) {
                    if (response.success) {
                        document.getElementById("fav-btn-" + id).hidden = false;
                        document.getElementById("un-fav-btn-" + id).hidden = true;
                    } else { console.log(response);}
                });
        }

        function favouriteAlbum(id) {
            fetch('/api/album/favorite/' + id)
                .then(function (response) {
                    return response.json();
                })
                .then(function (response) {
                    if (response.success) {
                        document.getElementById("un-fav-btn-" + id).hidden = false;
                        document.getElementById("fav-btn-" + id).hidden = true;
                    } else { console.log(response);}
                });
        }
    </script>
{% endblock %}