{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <br>
    <div class="row">
        {% for a in albums %}
            <div class="card m-2 bg-light" style="width: 16rem;">
                <a href="{% url 'webapp:album_detail' a.pk %}" style="text-decoration: none">
                    <div class="card-body">
                        <h5 class="card-title">Альбом {{ a.id }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Название:{{ a.title }}</h6>
                        <p class="card-text">Описание: {{ a.description }} </p>
                        <p class="card-text">Автор:{{ a.author }} </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}